body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

img {
    display: block;
    margin: 20px auto;
    height: 400px;
}

small {
    display: block;
    font-size: 12px;
    text-align: center;
}

a {
    color: oldlace;
    text-decoration: underline;
}

ul, ol {
    margin: 20px auto;
    line-height: 2;
}

div {
    width: 600px;
    margin: 0 auto;
}

.intro p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
    text-align: justify;
}

img {
    display: block;
    margin: 20px auto;
    height: 300px;
    width: 300px;
}

.recipe-list {
    font-size: large;
}

.recipe-list ul {
    list-style-type: none;
}

.recipe-list li {
    display: inline-block;
    margin: 20px;
}

.recipe-list img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}